<form class="buginfo-form" [formGroup]="bugInfoForm" (ngSubmit)="submit()">
  <mat-form-field>
    <input matInput id="name" type="text" formControlName="name" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput id="summary" type="text" formControlName="summary" placeholder="Summary">
  </mat-form-field>
  <mat-form-field>
    <mat-select id="application" type="text" formControlName="application" placeholder="Application">
      <mat-option value="chat">Chat</mat-option>
      <mat-option value="video">Video</mat-option>
      <mat-option value="office">Office</mat-option>
      <mat-option value="drive">Drive</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput id="description" type="text" formControlName="description" placeholder="Description"></textarea>
  </mat-form-field>
  <button mat-flat-button type="submit">Submit Report</button>
</form>

