<mat-card>
    <mat-card-header>
        <mat-card-title>Bug List</mat-card-title>
        <mat-card-subtitle>It worked this morning!</mat-card-subtitle>
    </mat-card-header>

    <button mat-button color="primary" routerLink="report">REPORT</button>

    <div *ngIf="bugReports.length > 0; else allClear" style="margin-top: 20px">
        <table mat-table [dataSource]="dataSource" style="width: 100%">
            <ng-container matColumnDef="summary">
                <th mat-header-cell *matHeaderCellDef>Summary</th>
                <td mat-cell *matCellDef="let element"> {{element.summary}} </td>
            </ng-container>

            <ng-container matColumnDef="application">
                <th mat-header-cell *matHeaderCellDef>Application</th>
                <td mat-cell *matCellDef="let element"> {{element.application}} </td>
            </ng-container>

            <ng-container matColumnDef="reporter">
                <th mat-header-cell *matHeaderCellDef>Reporter</th>
                <td mat-cell *matCellDef="let element"> {{element.reporter}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <ng-template #allClear>
        <div style="margin-top: 20px; text-align: center">
            ALL CLEAR!
        </div>
    </ng-template>
</mat-card>