/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F5F5F5F5 }
app-buginfo{
    margin-top: 20px;
    width: 50%;
}

app-submission{
  margin-top: 20px;
  width: 50%;
}

app-buglist{
  margin-top: 20px;
  width: 80%;
}
