<mat-card>
  <div style="justify-content: center; display: flex;">
    <i class="material-icons" style="color: green; font-size: 200px; margin: 40px">
      check_circle_outline
    </i>
  </div>

  <div style="text-align: center">
    <mat-card-title>Thank you for your submission!</mat-card-title>
    <mat-card-subtitle style="margin: 20px">Your report will be reviewed shortly, and we hope to get back to you soon.</mat-card-subtitle>
  </div>

  <hr style="border-color: #F5F5F5; margin: 40px">

  <div style="text-align: right">
    <mat-card-content style="display: inline-block; color: grey">Found another one? Make some noise.</mat-card-content>
    <button mat-button color="primary" style="display: inline-block" routerLink="">ENCORE</button>
  </div>

</mat-card>









